body {
  background-image: url(../IMG/Tetris.jpg);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
header {
  width: 25%;
  height: 10%;
  border: 3px solid #73ad21;
  align-self: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 2px solid #00f8f8;
  border-radius: 7px;
}
#score {
  color: whitesmoke;
}
.title {
  color: whitesmoke;
}

.button-score {
  align-self: flex-start;
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}
.button-score button {
  height: 30px;
  width: 100px;
  background: linear-gradient(to bottom, #bada55, #559ada);
  font-weight: bold;
  color: white;
  font-size: 1rem;
  stroke: black;
  outline: none;
  border-radius: 1rem;
}
button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}
.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  align-self: flex-start;
  border: 2px solid #dadada;
  border-radius: 7px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
.grid:focus .mini-grid:focus .button-score:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}
